BopisTest/xsd/ResponseXsd/Final_Release_Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Shipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Extn">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="ExtnDerivedTransactionType"/>
                <xs:attribute type="xs:string" name="ExtnHostOrderReference"/>
                <xs:attribute type="xs:byte" name="ExtnHostOrderSystemIdentifier"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ShipmentLines">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ShipmentLine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Extn">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="ExtnHostOrderLineReference"/>
                            <xs:attribute type="xs:int" name="ExtnSKUCode"/>
                            <xs:attribute type="xs:string" name="ExtnSVSRemEntriesReqd"/>
                            <xs:attribute type="xs:string" name="ExtnTransactionType"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:float" name="Quantity"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="EnterpriseCode"/>
      <xs:attribute type="xs:short" name="SellerOrganizationCode"/>
      <xs:attribute type="xs:short" name="ShipNode"/>
    </xs:complexType>
  </xs:element>
</xs:schema>