BopisTest/xsd/ResponseXsd/Recall_Order_Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Order">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Extn">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HDOrderStatusList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="HDOrderStatus">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Createprogid"/>
                                  <xs:attribute type="xs:dateTime" name="Createts"/>
                                  <xs:attribute type="xs:string" name="Createuserid"/>
                                  <xs:attribute type="xs:integer" name="HDOrderStatusKey"/>
                                  <xs:attribute type="xs:byte" name="Lockid"/>
                                  <xs:attribute type="xs:string" name="Modifyprogid"/>
                                  <xs:attribute type="xs:dateTime" name="Modifyts"/>
                                  <xs:attribute type="xs:string" name="Modifyuserid"/>
                                  <xs:attribute type="xs:integer" name="OrderHeaderKey"/>
                                  <xs:attribute type="xs:short" name="StatusCode"/>
                                  <xs:attribute type="xs:string" name="StatusDescription"/>
                                  <xs:attribute type="xs:dateTime" name="StatusEffectiveTs"/>
                                  <xs:attribute type="xs:short" name="StoreNumber"/>
                                  <xs:attribute type="xs:string" name="UserAuditID"/>
                                  <xs:attribute type="xs:string" name="isHistory"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="HDOrdAppParmTypeList"/>
                    <xs:element name="HDPaymentStageInfoList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="HDPaymentStageInfo">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="CountryCode"/>
                                  <xs:attribute type="xs:string" name="Createprogid"/>
                                  <xs:attribute type="xs:dateTime" name="Createts"/>
                                  <xs:attribute type="xs:string" name="Createuserid"/>
                                  <xs:attribute type="xs:integer" name="HDPaymentStageInfoKey"/>
                                  <xs:attribute type="xs:short" name="HostOrderLineReference"/>
                                  <xs:attribute type="xs:string" name="LineType"/>
                                  <xs:attribute type="xs:byte" name="Lockid"/>
                                  <xs:attribute type="xs:string" name="Modifyprogid"/>
                                  <xs:attribute type="xs:dateTime" name="Modifyts"/>
                                  <xs:attribute type="xs:string" name="Modifyuserid"/>
                                  <xs:attribute type="xs:integer" name="OrderHeaderKey"/>
                                  <xs:attribute type="xs:short" name="PostalCode"/>
                                  <xs:attribute type="xs:float" name="Quantity"/>
                                  <xs:attribute type="xs:float" name="RefundQuantity"/>
                                  <xs:attribute type="xs:byte" name="Status"/>
                                  <xs:attribute type="xs:string" name="SuspendFlag"/>
                                  <xs:attribute type="xs:string" name="TaxCity"/>
                                  <xs:attribute type="xs:float" name="TaxRate"/>
                                  <xs:attribute type="xs:string" name="TaxState"/>
                                  <xs:attribute type="xs:dateTime" name="TimeStamp"/>
                                  <xs:attribute type="xs:float" name="UnitNetRetail"/>
                                  <xs:attribute type="xs:string" name="isHistory"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="HDOrdChangeList"/>
                    <xs:element type="xs:string" name="HDOrdChangeDescList"/>
                    <xs:element type="xs:string" name="HDChargeTxnAdditionalList"/>
                    <xs:element type="xs:string" name="HDSplOrdList"/>
                    <xs:element type="xs:string" name="HDCustDsgnCustOrdList"/>
                    <xs:element name="HDWillCallList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="HDWillCall">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="HDWCLineStatusAuditList"/>
                                <xs:element name="HDWCLineStatusList">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="HDWCLineStatus" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="Createprogid" use="optional"/>
                                              <xs:attribute type="xs:dateTime" name="Createts" use="optional"/>
                                              <xs:attribute type="xs:string" name="Createuserid" use="optional"/>
                                              <xs:attribute type="xs:integer" name="HDWCLineStatusKey" use="optional"/>
                                              <xs:attribute type="xs:integer" name="HDWillCallKey" use="optional"/>
                                              <xs:attribute type="xs:byte" name="Lockid" use="optional"/>
                                              <xs:attribute type="xs:string" name="Modifyprogid" use="optional"/>
                                              <xs:attribute type="xs:dateTime" name="Modifyts" use="optional"/>
                                              <xs:attribute type="xs:string" name="Modifyuserid" use="optional"/>
                                              <xs:attribute type="xs:string" name="SVSTypeCode" use="optional"/>
                                              <xs:attribute type="xs:short" name="StatusCode" use="optional"/>
                                              <xs:attribute type="xs:string" name="StatusDescription" use="optional"/>
                                              <xs:attribute type="xs:dateTime" name="StatusEffectiveTs" use="optional"/>
                                              <xs:attribute type="xs:short" name="StoreNumber" use="optional"/>
                                              <xs:attribute type="xs:string" name="UserAuditID" use="optional"/>
                                              <xs:attribute type="xs:string" name="isHistory" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="HDRepairCategoryList"/>
                                <xs:element type="xs:string" name="HDRepairStatusList"/>
                                <xs:element type="xs:string" name="HDRepairQuestionList"/>
                                <xs:element type="xs:string" name="HDWCAppParmTypeList"/>
                                <xs:element type="xs:string" name="HDWCInstructionList"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="AltContactName"/>
                              <xs:attribute type="xs:string" name="ContactName"/>
                              <xs:attribute type="xs:byte" name="CreateSrcProcess"/>
                              <xs:attribute type="xs:byte" name="CreateSrcReference"/>
                              <xs:attribute type="xs:dateTime" name="CreateTimeStamp"/>
                              <xs:attribute type="xs:string" name="Createprogid"/>
                              <xs:attribute type="xs:dateTime" name="Createts"/>
                              <xs:attribute type="xs:string" name="Createuserid"/>
                              <xs:attribute type="xs:integer" name="HDWillCallKey"/>
                              <xs:attribute type="xs:byte" name="Lockid"/>
                              <xs:attribute type="xs:byte" name="ModifySrcProcess"/>
                              <xs:attribute type="xs:byte" name="ModifySrcReference"/>
                              <xs:attribute type="xs:string" name="Modifyprogid"/>
                              <xs:attribute type="xs:dateTime" name="Modifyts"/>
                              <xs:attribute type="xs:string" name="Modifyuserid"/>
                              <xs:attribute type="xs:short" name="OrderCreateLocation"/>
                              <xs:attribute type="xs:integer" name="OrderHeaderKey"/>
                              <xs:attribute type="xs:int" name="SKUCode"/>
                              <xs:attribute type="xs:dateTime" name="ScheduledPickUpTs"/>
                              <xs:attribute type="xs:short" name="SellingLocation"/>
                              <xs:attribute type="xs:short" name="ShipNode"/>
                              <xs:attribute type="xs:short" name="StatusCd"/>
                              <xs:attribute type="xs:string" name="StatusCdDesc"/>
                              <xs:attribute type="xs:dateTime" name="StatusEffectiveTs"/>
                              <xs:attribute type="xs:float" name="TaxRate"/>
                              <xs:attribute type="xs:short" name="WillCallLineNum"/>
                              <xs:attribute type="xs:string" name="WillCallType"/>
                              <xs:attribute type="xs:string" name="isHistory"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ExtnHDStorePaymentInfoList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ExtnHDStorePaymentInfo">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Createprogid"/>
                                  <xs:attribute type="xs:dateTime" name="Createts"/>
                                  <xs:attribute type="xs:string" name="Createuserid"/>
                                  <xs:attribute type="xs:float" name="ExtnMaxStorePaymentLimit"/>
                                  <xs:attribute type="xs:integer" name="ExtnPaymentKey"/>
                                  <xs:attribute type="xs:short" name="ExtnStore"/>
                                  <xs:attribute type="xs:integer" name="HDStorePaymentInfoKey"/>
                                  <xs:attribute type="xs:byte" name="Lockid"/>
                                  <xs:attribute type="xs:float" name="MaxStorePaymentLimit"/>
                                  <xs:attribute type="xs:string" name="Modifyprogid"/>
                                  <xs:attribute type="xs:dateTime" name="Modifyts"/>
                                  <xs:attribute type="xs:string" name="Modifyuserid"/>
                                  <xs:attribute type="xs:integer" name="OrderHeaderKey"/>
                                  <xs:attribute type="xs:long" name="PaymentIdentifier"/>
                                  <xs:attribute type="xs:string" name="PaymentType"/>
                                  <xs:attribute type="xs:short" name="Store"/>
                                  <xs:attribute type="xs:string" name="isHistory"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="ExtnCreateUserID"/>
                  <xs:attribute type="xs:string" name="ExtnCustGoldenRecID"/>
                  <xs:attribute type="xs:string" name="ExtnHostOrderReference"/>
                  <xs:attribute type="xs:byte" name="ExtnHostSrcProcess"/>
                  <xs:attribute type="xs:string" name="ExtnHostUserID"/>
                  <xs:attribute type="xs:string" name="ExtnIsMultiStoreOrder"/>
                  <xs:attribute type="xs:string" name="ExtnModifiedUserID"/>
                  <xs:attribute type="xs:float" name="ExtnOrderLevelExtendedTotal"/>
                  <xs:attribute type="xs:string" name="ExtnOrderType"/>
                  <xs:attribute type="xs:string" name="ExtnPMCFlag"/>
                  <xs:attribute type="xs:dateTime" name="ExtnPOCreateDate"/>
                  <xs:attribute type="xs:string" name="ExtnProfileID"/>
                  <xs:attribute type="xs:string" name="ExtnRefundRering"/>
                  <xs:attribute type="xs:short" name="ExtnSVSOrderStatus"/>
                  <xs:attribute type="xs:string" name="ExtnSVSOrderStatusDesc"/>
                  <xs:attribute type="xs:dateTime" name="ExtnStatusEffectiveTs"/>
                  <xs:attribute type="xs:string" name="ExtnUCMType"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="OrderHoldTypes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrderHoldType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Extn">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="ExtnLockID"/>
                                  <xs:attribute type="xs:string" name="ExtnUserId"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:dateTime" name="Createts"/>
                        <xs:attribute type="xs:string" name="Createuserid"/>
                        <xs:attribute type="xs:string" name="HoldType"/>
                        <xs:attribute type="xs:dateTime" name="LastHoldTypeDate"/>
                        <xs:attribute type="xs:string" name="Modifyprogid"/>
                        <xs:attribute type="xs:dateTime" name="Modifyts"/>
                        <xs:attribute type="xs:string" name="Modifyuserid"/>
                        <xs:attribute type="xs:integer" name="OrderAuditKey"/>
                        <xs:attribute type="xs:string" name="ReasonText"/>
                        <xs:attribute type="xs:short" name="Status"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="OrderLineRelationships"/>
              <xs:element type="xs:string" name="Awards"/>
              <xs:element type="xs:string" name="Promotions"/>
              <xs:element name="OrderLines">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrderLine">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Extn">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="HDInstallAddnlInfoList"/>
                                <xs:element type="xs:string" name="HDSplOrderInfoList"/>
                                <xs:element type="xs:string" name="HDOrderLineAppParmTypeList"/>
                                <xs:element type="xs:string" name="HDSurveyList"/>
                                <xs:element type="xs:string" name="HDCostAuditList"/>
                                <xs:element name="HDLineTaxList">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="HDLineTax">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="Createprogid"/>
                                              <xs:attribute type="xs:dateTime" name="Createts"/>
                                              <xs:attribute type="xs:string" name="Createuserid"/>
                                              <xs:attribute type="xs:integer" name="HDLineTaxKey"/>
                                              <xs:attribute type="xs:byte" name="Lockid"/>
                                              <xs:attribute type="xs:string" name="Modifyprogid"/>
                                              <xs:attribute type="xs:dateTime" name="Modifyts"/>
                                              <xs:attribute type="xs:string" name="Modifyuserid"/>
                                              <xs:attribute type="xs:integer" name="OrderLineKey"/>
                                              <xs:attribute type="xs:byte" name="POSTaxCode"/>
                                              <xs:attribute type="xs:float" name="Tax"/>
                                              <xs:attribute type="xs:byte" name="TaxCalcMethod"/>
                                              <xs:attribute type="xs:string" name="TaxName"/>
                                              <xs:attribute type="xs:string" name="isHistory"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="HDRelatedEJKeysList"/>
                                <xs:element type="xs:string" name="HDReturnPolicyList"/>
                                <xs:element name="HDEventList">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="HDEvent">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="Createprogid"/>
                                              <xs:attribute type="xs:dateTime" name="Createts"/>
                                              <xs:attribute type="xs:string" name="Createuserid"/>
                                              <xs:attribute type="xs:string" name="EventTrkCode"/>
                                              <xs:attribute type="xs:dateTime" name="EventTs"/>
                                              <xs:attribute type="xs:string" name="EventUserAuditID"/>
                                              <xs:attribute type="xs:integer" name="HDEventKey"/>
                                              <xs:attribute type="xs:byte" name="Lockid"/>
                                              <xs:attribute type="xs:float" name="MerQty"/>
                                              <xs:attribute type="xs:string" name="Modifyprogid"/>
                                              <xs:attribute type="xs:dateTime" name="Modifyts"/>
                                              <xs:attribute type="xs:string" name="Modifyuserid"/>
                                              <xs:attribute type="xs:integer" name="OrderLineKey"/>
                                              <xs:attribute type="xs:short" name="Store"/>
                                              <xs:attribute type="xs:string" name="isHistory"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="HDAppliedTransactionList">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="HDAppliedTransaction">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="Createprogid"/>
                                              <xs:attribute type="xs:dateTime" name="Createts"/>
                                              <xs:attribute type="xs:string" name="Createuserid"/>
                                              <xs:attribute type="xs:string" name="DerivedTransactionType"/>
                                              <xs:attribute type="xs:integer" name="HDAppliedTransactionKey"/>
                                              <xs:attribute type="xs:short" name="HostOrderLineReference"/>
                                              <xs:attribute type="xs:string" name="HostOrderReference"/>
                                              <xs:attribute type="xs:string" name="HostUserID"/>
                                              <xs:attribute type="xs:string" name="InventoryTrackCode"/>
                                              <xs:attribute type="xs:byte" name="Lockid"/>
                                              <xs:attribute type="xs:string" name="Modifyprogid"/>
                                              <xs:attribute type="xs:dateTime" name="Modifyts"/>
                                              <xs:attribute type="xs:string" name="Modifyuserid"/>
                                              <xs:attribute type="xs:integer" name="OrderLineKey"/>
                                              <xs:attribute type="xs:string" name="SVSRemEntriesReqd"/>
                                              <xs:attribute type="xs:short" name="SystemLocationReference"/>
                                              <xs:attribute type="xs:string" name="SystemReference"/>
                                              <xs:attribute type="xs:dateTime" name="SystemReferenceTS"/>
                                              <xs:attribute type="xs:string" name="TransactionType"/>
                                              <xs:attribute type="xs:string" name="isHistory"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="HDLineStatusList"/>
                              </xs:sequence>
                              <xs:attribute type="xs:float" name="ExtnCancelQuantity"/>
                              <xs:attribute type="xs:byte" name="ExtnCreateSrcProcess"/>
                              <xs:attribute type="xs:byte" name="ExtnCreateSrcReference"/>
                              <xs:attribute type="xs:dateTime" name="ExtnCreatets"/>
                              <xs:attribute type="xs:byte" name="ExtnCumPickedQuantity"/>
                              <xs:attribute type="xs:byte" name="ExtnDeliveryApprover"/>
                              <xs:attribute type="xs:byte" name="ExtnDeliveryPalletQty"/>
                              <xs:attribute type="xs:string" name="ExtnFILineType"/>
                              <xs:attribute type="xs:byte" name="ExtnHDUOMCode"/>
                              <xs:attribute type="xs:string" name="ExtnHDUOMCodeDesc"/>
                              <xs:attribute type="xs:short" name="ExtnHostOrderLineReference"/>
                              <xs:attribute type="xs:string" name="ExtnHostUserID"/>
                              <xs:attribute type="xs:int" name="ExtnInvSKUCode"/>
                              <xs:attribute type="xs:string" name="ExtnInventoryTrackCode"/>
                              <xs:attribute type="xs:string" name="ExtnIsPreBOSS"/>
                              <xs:attribute type="xs:byte" name="ExtnLastNotifySent"/>
                              <xs:attribute type="xs:float" name="ExtnLineLevelExtendedTotal"/>
                              <xs:attribute type="xs:byte" name="ExtnModifySrcProcess"/>
                              <xs:attribute type="xs:byte" name="ExtnModifySrcReference"/>
                              <xs:attribute type="xs:dateTime" name="ExtnMsgGeneratedTS"/>
                              <xs:attribute type="xs:float" name="ExtnNetUnitPrice"/>
                              <xs:attribute type="xs:float" name="ExtnNetUnitPriceNoTax"/>
                              <xs:attribute type="xs:int" name="ExtnOMSID"/>
                              <xs:attribute type="xs:short" name="ExtnOrderCreateLocation"/>
                              <xs:attribute type="xs:string" name="ExtnOrderCreateLocationType"/>
                              <xs:attribute type="xs:string" name="ExtnOrderLineType"/>
                              <xs:attribute type="xs:float" name="ExtnOriginalQtyOnQuote"/>
                              <xs:attribute type="xs:dateTime" name="ExtnPOCreateDate"/>
                              <xs:attribute type="xs:string" name="ExtnPickCompleted"/>
                              <xs:attribute type="xs:float" name="ExtnPickedQuantity"/>
                              <xs:attribute type="xs:string" name="ExtnPreferredPickupLocation"/>
                              <xs:attribute type="xs:string" name="ExtnProductTypeCode"/>
                              <xs:attribute type="xs:string" name="ExtnProfileID"/>
                              <xs:attribute type="xs:string" name="ExtnReleaseType"/>
                              <xs:attribute type="xs:float" name="ExtnReturnQuantity"/>
                              <xs:attribute type="xs:int" name="ExtnSKUCode"/>
                              <xs:attribute type="xs:short" name="ExtnSVSLineStatus"/>
                              <xs:attribute type="xs:short" name="ExtnSellingLocation"/>
                              <xs:attribute type="xs:short" name="ExtnSystemLocationReference"/>
                              <xs:attribute type="xs:string" name="ExtnSystemReference"/>
                              <xs:attribute type="xs:dateTime" name="ExtnSystemReferenceTS"/>
                              <xs:attribute type="xs:float" name="ExtnUOMConvQty"/>
                              <xs:attribute type="xs:float" name="ExtnUncancelledQty"/>
                              <xs:attribute type="xs:short" name="ExtnWillCallLineNum"/>
                              <xs:attribute type="xs:string" name="ExtnWillCallType"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Item">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="ItemDesc"/>
                                  <xs:attribute type="xs:int" name="ItemID"/>
                                  <xs:attribute type="xs:string" name="ItemShortDesc"/>
                                  <xs:attribute type="xs:float" name="ItemWeight"/>
                                  <xs:attribute type="xs:string" name="ItemWeightUOM"/>
                                  <xs:attribute type="xs:string" name="ManufacturerItem"/>
                                  <xs:attribute type="xs:string" name="ManufacturerName"/>
                                  <xs:attribute type="xs:string" name="ProductClass"/>
                                  <xs:attribute type="xs:string" name="UPCCode"/>
                                  <xs:attribute type="xs:float" name="UnitCost"/>
                                  <xs:attribute type="xs:string" name="UnitOfMeasure"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LinePriceInfo">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="ListPrice"/>
                                  <xs:attribute type="xs:float" name="PricingQtyConversionFactor"/>
                                  <xs:attribute type="xs:float" name="RetailPrice"/>
                                  <xs:attribute type="xs:string" name="TaxableFlag"/>
                                  <xs:attribute type="xs:float" name="UnitPrice"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="OrderHoldTypes"/>
                          <xs:element type="xs:string" name="OrderLineReservations"/>
                          <xs:element name="OrderDates">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="OrderDate" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="DateTypeId" use="optional"/>
                                        <xs:attribute type="xs:dateTime" name="RequestedDate" use="optional"/>
                                        <xs:attribute type="xs:dateTime" name="ExpectedDate" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PersonInfoShipTo">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Extn">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="ExtnMilitaryFlag"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="AddressLine1"/>
                              <xs:attribute type="xs:string" name="AddressLine2"/>
                              <xs:attribute type="xs:string" name="AddressLine3"/>
                              <xs:attribute type="xs:string" name="AddressLine4"/>
                              <xs:attribute type="xs:string" name="AddressLine5"/>
                              <xs:attribute type="xs:string" name="Beeper"/>
                              <xs:attribute type="xs:string" name="City"/>
                              <xs:attribute type="xs:string" name="Company"/>
                              <xs:attribute type="xs:string" name="Country"/>
                              <xs:attribute type="xs:long" name="DayPhone"/>
                              <xs:attribute type="xs:string" name="EMailID"/>
                              <xs:attribute type="xs:string" name="FirstName"/>
                              <xs:attribute type="xs:string" name="JobTitle"/>
                              <xs:attribute type="xs:string" name="LastName"/>
                              <xs:attribute type="xs:string" name="MiddleName"/>
                              <xs:attribute type="xs:long" name="MobilePhone"/>
                              <xs:attribute type="xs:string" name="OtherPhone"/>
                              <xs:attribute type="xs:string" name="PersonID"/>
                              <xs:attribute type="xs:string" name="State"/>
                              <xs:attribute type="xs:string" name="Suffix"/>
                              <xs:attribute type="xs:string" name="Title"/>
                              <xs:attribute type="xs:short" name="ZipCode"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="ChildOrderLineRelationships"/>
                          <xs:element type="xs:string" name="ParentOrderLineRelationships"/>
                          <xs:element name="AdditionalAddresses">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="NumberOfAdditionalAddresses"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="WorkOrders"/>
                          <xs:element name="Instructions">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="NumberOfInstructions"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ItemDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PrimaryInformation">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="TaxableFlag"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:int" name="ItemID"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="ServiceAssociations"/>
                          <xs:element type="xs:string" name="ProductAssociations"/>
                          <xs:element name="Schedules">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Schedule">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ScheduleTranQuantity">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:float" name="Quantity"/>
                                              <xs:attribute type="xs:string" name="TransactionalUOM"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="BatchNo"/>
                                    <xs:attribute type="xs:dateTime" name="ExpectedDeliveryDate"/>
                                    <xs:attribute type="xs:dateTime" name="ExpectedShipmentDate"/>
                                    <xs:attribute type="xs:string" name="LotNumber"/>
                                    <xs:attribute type="xs:integer" name="OrderHeaderKey"/>
                                    <xs:attribute type="xs:integer" name="OrderLineKey"/>
                                    <xs:attribute type="xs:integer" name="OrderLineScheduleKey"/>
                                    <xs:attribute type="xs:dateTime" name="ProductAvailabilityDate"/>
                                    <xs:attribute type="xs:float" name="Quantity"/>
                                    <xs:attribute type="xs:string" name="RevisionNo"/>
                                    <xs:attribute type="xs:byte" name="ScheduleNo"/>
                                    <xs:attribute type="xs:short" name="ShipNode"/>
                                    <xs:attribute type="xs:string" name="TagNumber"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LineOverallTotals">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="Charges"/>
                                  <xs:attribute type="xs:float" name="Discount"/>
                                  <xs:attribute type="xs:float" name="ExtendedPrice"/>
                                  <xs:attribute type="xs:float" name="LineCost"/>
                                  <xs:attribute type="xs:float" name="LineTotal"/>
                                  <xs:attribute type="xs:float" name="LineTotalWithoutTax"/>
                                  <xs:attribute type="xs:float" name="ManualDiscountPercentage"/>
                                  <xs:attribute type="xs:float" name="OptionPrice"/>
                                  <xs:attribute type="xs:float" name="PercentProfitMargin"/>
                                  <xs:attribute type="xs:float" name="PricingQty"/>
                                  <xs:attribute type="xs:float" name="ShippingBaseCharge"/>
                                  <xs:attribute type="xs:float" name="ShippingCharges"/>
                                  <xs:attribute type="xs:float" name="ShippingDiscount"/>
                                  <xs:attribute type="xs:float" name="ShippingTotal"/>
                                  <xs:attribute type="xs:float" name="Tax"/>
                                  <xs:attribute type="xs:float" name="UnitPrice"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="LineCharges"/>
                          <xs:element name="LineTaxes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LineTax">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Extn">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:float" name="ExtnExtendedTaxPerLine"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="ChargeCategory"/>
                                    <xs:attribute type="xs:string" name="ChargeName"/>
                                    <xs:attribute type="xs:string" name="ChargeNameKey"/>
                                    <xs:attribute type="xs:float" name="InvoicedTax"/>
                                    <xs:attribute type="xs:string" name="Reference_1"/>
                                    <xs:attribute type="xs:string" name="Reference_2"/>
                                    <xs:attribute type="xs:string" name="Reference_3"/>
                                    <xs:attribute type="xs:float" name="RemainingTax"/>
                                    <xs:attribute type="xs:float" name="Tax"/>
                                    <xs:attribute type="xs:string" name="TaxName"/>
                                    <xs:attribute type="xs:float" name="TaxPercentage"/>
                                    <xs:attribute type="xs:string" name="TaxableFlag"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="OrderStatuses">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="OrderStatus">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Details">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:dateTime" name="ExpectedDeliveryDate"/>
                                              <xs:attribute type="xs:dateTime" name="ExpectedShipmentDate"/>
                                              <xs:attribute type="xs:string" name="TagNumber"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="OrderStatusTranQuantity">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:float" name="StatusQty"/>
                                              <xs:attribute type="xs:float" name="TotalQuantity"/>
                                              <xs:attribute type="xs:string" name="TransactionalUOM"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:integer" name="OrderHeaderKey"/>
                                    <xs:attribute type="xs:integer" name="OrderLineKey"/>
                                    <xs:attribute type="xs:integer" name="OrderLineScheduleKey"/>
                                    <xs:attribute type="xs:integer" name="OrderReleaseKey"/>
                                    <xs:attribute type="xs:integer" name="OrderReleaseStatusKey"/>
                                    <xs:attribute type="xs:long" name="PipelineKey"/>
                                    <xs:attribute type="xs:short" name="ShipNode"/>
                                    <xs:attribute type="xs:short" name="Status"/>
                                    <xs:attribute type="xs:dateTime" name="StatusDate"/>
                                    <xs:attribute type="xs:string" name="StatusDescription"/>
                                    <xs:attribute type="xs:float" name="StatusQty"/>
                                    <xs:attribute type="xs:float" name="TotalQuantity"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="OrderLineTranQuantity">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="FillQuantity"/>
                                  <xs:attribute type="xs:float" name="InvoicedQuantity"/>
                                  <xs:attribute type="xs:float" name="OpenQty"/>
                                  <xs:attribute type="xs:float" name="OrderedQty"/>
                                  <xs:attribute type="xs:float" name="OriginalOrderedQty"/>
                                  <xs:attribute type="xs:float" name="ReceivedQty"/>
                                  <xs:attribute type="xs:float" name="RemainingQty"/>
                                  <xs:attribute type="xs:float" name="SettledQuantity"/>
                                  <xs:attribute type="xs:float" name="ShippedQuantity"/>
                                  <xs:attribute type="xs:float" name="SplitQty"/>
                                  <xs:attribute type="xs:float" name="StatusQuantity"/>
                                  <xs:attribute type="xs:float" name="TranDiscrepancyQty"/>
                                  <xs:attribute type="xs:string" name="TransactionalUOM"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="CarrierServiceCode"/>
                        <xs:attribute type="xs:string" name="CustomerLinePONo"/>
                        <xs:attribute type="xs:string" name="CustomerPONo"/>
                        <xs:attribute type="xs:string" name="DeliveryMethod"/>
                        <xs:attribute type="xs:string" name="IsFirmPredefinedNode"/>
                        <xs:attribute type="xs:string" name="ItemGroupCode"/>
                        <xs:attribute type="xs:string" name="LineType"/>
                        <xs:attribute type="xs:short" name="MaxLineStatus"/>
                        <xs:attribute type="xs:string" name="MaxLineStatusDesc"/>
                        <xs:attribute type="xs:short" name="MinLineStatus"/>
                        <xs:attribute type="xs:string" name="MinLineStatusDesc"/>
                        <xs:attribute type="xs:integer" name="OrderLineKey"/>
                        <xs:attribute type="xs:float" name="OrderedQty"/>
                        <xs:attribute type="xs:float" name="OriginalOrderedQty"/>
                        <xs:attribute type="xs:byte" name="PrimeLineNo"/>
                        <xs:attribute type="xs:dateTime" name="ReqShipDate"/>
                        <xs:attribute type="xs:string" name="SCAC"/>
                        <xs:attribute type="xs:string" name="ScacAndService"/>
                        <xs:attribute type="xs:short" name="ShipNode"/>
                        <xs:attribute type="xs:integer" name="ShipToKey"/>
                        <xs:attribute type="xs:string" name="Status"/>
                        <xs:attribute type="xs:float" name="StatusQuantity"/>
                        <xs:attribute type="xs:byte" name="SubLineNo"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PersonInfoBillTo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Extn">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="ExtnMilitaryFlag"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="AddressLine1"/>
                  <xs:attribute type="xs:string" name="AddressLine2"/>
                  <xs:attribute type="xs:string" name="AddressLine3"/>
                  <xs:attribute type="xs:string" name="AddressLine4"/>
                  <xs:attribute type="xs:string" name="AddressLine5"/>
                  <xs:attribute type="xs:string" name="AddressLine6"/>
                  <xs:attribute type="xs:string" name="AlternateEmailID"/>
                  <xs:attribute type="xs:string" name="Beeper"/>
                  <xs:attribute type="xs:string" name="City"/>
                  <xs:attribute type="xs:string" name="Company"/>
                  <xs:attribute type="xs:string" name="Country"/>
                  <xs:attribute type="xs:string" name="DayFaxNo"/>
                  <xs:attribute type="xs:long" name="DayPhone"/>
                  <xs:attribute type="xs:string" name="Department"/>
                  <xs:attribute type="xs:string" name="EMailID"/>
                  <xs:attribute type="xs:string" name="EveningFaxNo"/>
                  <xs:attribute type="xs:string" name="EveningPhone"/>
                  <xs:attribute type="xs:string" name="FirstName"/>
                  <xs:attribute type="xs:string" name="JobTitle"/>
                  <xs:attribute type="xs:string" name="LastName"/>
                  <xs:attribute type="xs:string" name="MiddleName"/>
                  <xs:attribute type="xs:string" name="MobilePhone"/>
                  <xs:attribute type="xs:string" name="OtherPhone"/>
                  <xs:attribute type="xs:string" name="PersonID"/>
                  <xs:attribute type="xs:integer" name="PersonInfoKey"/>
                  <xs:attribute type="xs:string" name="State"/>
                  <xs:attribute type="xs:string" name="Suffix"/>
                  <xs:attribute type="xs:string" name="Title"/>
                  <xs:attribute type="xs:short" name="ZipCode"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="PersonInfoShipTo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Extn">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="ExtnMilitaryFlag"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="AddressLine1"/>
                  <xs:attribute type="xs:string" name="AddressLine2"/>
                  <xs:attribute type="xs:string" name="AddressLine3"/>
                  <xs:attribute type="xs:string" name="AddressLine4"/>
                  <xs:attribute type="xs:string" name="AddressLine5"/>
                  <xs:attribute type="xs:string" name="Beeper"/>
                  <xs:attribute type="xs:string" name="City"/>
                  <xs:attribute type="xs:string" name="Company"/>
                  <xs:attribute type="xs:string" name="Country"/>
                  <xs:attribute type="xs:long" name="DayPhone"/>
                  <xs:attribute type="xs:string" name="EMailID"/>
                  <xs:attribute type="xs:string" name="FirstName"/>
                  <xs:attribute type="xs:string" name="JobTitle"/>
                  <xs:attribute type="xs:string" name="LastName"/>
                  <xs:attribute type="xs:string" name="MiddleName"/>
                  <xs:attribute type="xs:string" name="MobilePhone"/>
                  <xs:attribute type="xs:string" name="OtherPhone"/>
                  <xs:attribute type="xs:string" name="PersonID"/>
                  <xs:attribute type="xs:string" name="State"/>
                  <xs:attribute type="xs:string" name="Suffix"/>
                  <xs:attribute type="xs:string" name="Title"/>
                  <xs:attribute type="xs:short" name="ZipCode"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="PaymentMethods">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PaymentMethod">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="BillToKey"/>
                            <xs:attribute type="xs:string" name="CheckNo"/>
                            <xs:attribute type="xs:string" name="CheckReference"/>
                            <xs:attribute type="xs:string" name="CreditCardExpDate"/>
                            <xs:attribute type="xs:string" name="CreditCardName"/>
                            <xs:attribute type="xs:long" name="CreditCardNo"/>
                            <xs:attribute type="xs:string" name="CreditCardType"/>
                            <xs:attribute type="xs:string" name="CustomerPONo"/>
                            <xs:attribute type="xs:short" name="DisplayCreditCardNo"/>
                            <xs:attribute type="xs:string" name="DisplayCustomerAccountNo"/>
                            <xs:attribute type="xs:string" name="DisplayPaymentReference1"/>
                            <xs:attribute type="xs:short" name="DisplaySvcNo"/>
                            <xs:attribute type="xs:string" name="FirstName"/>
                            <xs:attribute type="xs:float" name="FundsAvailable"/>
                            <xs:attribute type="xs:string" name="GetFundsAvailableUserExitInvoked"/>
                            <xs:attribute type="xs:string" name="LastName"/>
                            <xs:attribute type="xs:float" name="MaxChargeLimit"/>
                            <xs:attribute type="xs:integer" name="PaymentKey"/>
                            <xs:attribute type="xs:string" name="PaymentReference1"/>
                            <xs:attribute type="xs:string" name="PaymentReference2"/>
                            <xs:attribute type="xs:string" name="PaymentReference3"/>
                            <xs:attribute type="xs:string" name="PaymentType"/>
                            <xs:attribute type="xs:long" name="SvcNo"/>
                            <xs:attribute type="xs:float" name="TotalAuthorized"/>
                            <xs:attribute type="xs:float" name="TotalCharged"/>
                            <xs:attribute type="xs:float" name="TotalRefundedAmount"/>
                            <xs:attribute type="xs:string" name="UnlimitedCharges"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ChargeTransactionDetails">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:float" name="AdditionalExpectedAuthorizations"/>
                      <xs:attribute type="xs:float" name="TotalCredits"/>
                      <xs:attribute type="xs:float" name="TotalDebits"/>
                      <xs:attribute type="xs:float" name="TotalOpenAuthorizations"/>
                      <xs:attribute type="xs:float" name="TotalOpenBookings"/>
                      <xs:attribute type="xs:float" name="TotalTransferredIn"/>
                      <xs:attribute type="xs:float" name="TotalTransferredOut"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Notes">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="NumberOfNotes"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="ProductServiceAssocs"/>
              <xs:element name="AdditionalAddresses">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="NumberOfAdditionalAddresses"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Instructions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Instruction">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Extn"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Action"/>
                        <xs:attribute type="xs:string" name="Createprogid"/>
                        <xs:attribute type="xs:dateTime" name="Createts"/>
                        <xs:attribute type="xs:string" name="Createuserid"/>
                        <xs:attribute type="xs:integer" name="InstructionDetailKey"/>
                        <xs:attribute type="xs:string" name="InstructionText"/>
                        <xs:attribute type="xs:string" name="InstructionType"/>
                        <xs:attribute type="xs:string" name="InstructionURL"/>
                        <xs:attribute type="xs:string" name="InstructionUsage"/>
                        <xs:attribute type="xs:byte" name="Lockid"/>
                        <xs:attribute type="xs:string" name="Modifyprogid"/>
                        <xs:attribute type="xs:dateTime" name="Modifyts"/>
                        <xs:attribute type="xs:string" name="Modifyuserid"/>
                        <xs:attribute type="xs:integer" name="ReferenceKey"/>
                        <xs:attribute type="xs:byte" name="SequenceNo"/>
                        <xs:attribute type="xs:string" name="TableName"/>
                        <xs:attribute type="xs:string" name="isHistory"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="NumberOfInstructions"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="OverallTotals">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Extn">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="ExtnReturnTotal"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:float" name="GrandCharges"/>
                  <xs:attribute type="xs:float" name="GrandDiscount"/>
                  <xs:attribute type="xs:float" name="GrandShippingBaseCharge"/>
                  <xs:attribute type="xs:float" name="GrandShippingCharges"/>
                  <xs:attribute type="xs:float" name="GrandShippingDiscount"/>
                  <xs:attribute type="xs:float" name="GrandShippingTotal"/>
                  <xs:attribute type="xs:float" name="GrandTax"/>
                  <xs:attribute type="xs:float" name="GrandTotal"/>
                  <xs:attribute type="xs:float" name="HdrCharges"/>
                  <xs:attribute type="xs:float" name="HdrDiscount"/>
                  <xs:attribute type="xs:float" name="HdrShippingBaseCharge"/>
                  <xs:attribute type="xs:float" name="HdrShippingCharges"/>
                  <xs:attribute type="xs:float" name="HdrShippingDiscount"/>
                  <xs:attribute type="xs:float" name="HdrShippingTotal"/>
                  <xs:attribute type="xs:float" name="HdrTax"/>
                  <xs:attribute type="xs:float" name="HdrTotal"/>
                  <xs:attribute type="xs:float" name="LineSubTotal"/>
                  <xs:attribute type="xs:float" name="ManualDiscountPercentage"/>
                  <xs:attribute type="xs:float" name="PercentProfitMargin"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Createuserid"/>
            <xs:attribute type="xs:byte" name="DocumentType"/>
            <xs:attribute type="xs:string" name="DraftOrderFlag"/>
            <xs:attribute type="xs:string" name="EnterpriseCode"/>
            <xs:attribute type="xs:short" name="MaxOrderStatus"/>
            <xs:attribute type="xs:string" name="MaxOrderStatusDesc"/>
            <xs:attribute type="xs:short" name="MinOrderStatus"/>
            <xs:attribute type="xs:string" name="MinOrderStatusDesc"/>
            <xs:attribute type="xs:dateTime" name="OrderDate"/>
            <xs:attribute type="xs:string" name="OrderNo"/>
            <xs:attribute type="xs:short" name="SellerOrganizationCode"/>
            <xs:attribute type="xs:string" name="TaxExemptionCertificate"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Shipments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Shipment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Extn"/>
                    <xs:element name="ShipmentLines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ShipmentLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Extn"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="ItemDesc"/>
                              <xs:attribute type="xs:int" name="ItemID"/>
                              <xs:attribute type="xs:integer" name="OrderLineKey"/>
                              <xs:attribute type="xs:byte" name="PrimeLineNo"/>
                              <xs:attribute type="xs:string" name="ProductClass"/>
                              <xs:attribute type="xs:float" name="Quantity"/>
                              <xs:attribute type="xs:byte" name="ShipmentLineNo"/>
                              <xs:attribute type="xs:byte" name="SubLineNo"/>
                              <xs:attribute type="xs:string" name="UnitOfMeasure"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:dateTime" name="Modifyts"/>
                  <xs:attribute type="xs:short" name="SellerOrganizationCode"/>
                  <xs:attribute type="xs:short" name="ShipNode"/>
                  <xs:attribute type="xs:int" name="ShipmentNo"/>
                  <xs:attribute type="xs:float" name="Status"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InboxList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Inbox" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Extn">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="ExtnAlertTransLevelType" use="optional"/>
                            <xs:attribute type="xs:integer" name="ExtnWillCallReference" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="ActiveFlag" use="optional"/>
                  <xs:attribute type="xs:string" name="ApiName" use="optional"/>
                  <xs:attribute type="xs:string" name="AssignedToUserId" use="optional"/>
                  <xs:attribute type="xs:string" name="AssignedToUserKey" use="optional"/>
                  <xs:attribute type="xs:string" name="AutoResolvedFlag" use="optional"/>
                  <xs:attribute type="xs:string" name="ClosedOn" use="optional"/>
                  <xs:attribute type="xs:byte" name="ConsolidationCount" use="optional"/>
                  <xs:attribute type="xs:string" name="Description" use="optional"/>
                  <xs:attribute type="xs:string" name="DetailDescription" use="optional"/>
                  <xs:attribute type="xs:string" name="EnterpriseKey" use="optional"/>
                  <xs:attribute type="xs:string" name="ErrorReason" use="optional"/>
                  <xs:attribute type="xs:string" name="ErrorType" use="optional"/>
                  <xs:attribute type="xs:string" name="ExceptionEscalatedFlag" use="optional"/>
                  <xs:attribute type="xs:string" name="ExceptionType" use="optional"/>
                  <xs:attribute type="xs:byte" name="ExpirationDays" use="optional"/>
                  <xs:attribute type="xs:string" name="FlowName" use="optional"/>
                  <xs:attribute type="xs:dateTime" name="FollowupDate" use="optional"/>
                  <xs:attribute type="xs:dateTime" name="GeneratedOn" use="optional"/>
                  <xs:attribute type="xs:integer" name="InboxKey" use="optional"/>
                  <xs:attribute type="xs:string" name="InboxType" use="optional"/>
                  <xs:attribute type="xs:string" name="ItemId" use="optional"/>
                  <xs:attribute type="xs:dateTime" name="LastExceedAlert" use="optional"/>
                  <xs:attribute type="xs:dateTime" name="LastOccurredOn" use="optional"/>
                  <xs:attribute type="xs:string" name="LastUnassignAlert" use="optional"/>
                  <xs:attribute type="xs:string" name="LastUnresolveAlert" use="optional"/>
                  <xs:attribute type="xs:string" name="ListDescription" use="optional"/>
                  <xs:attribute type="xs:string" name="LoadNo" use="optional"/>
                  <xs:attribute type="xs:string" name="LockedByUserKey" use="optional"/>
                  <xs:attribute type="xs:string" name="LockedFlag" use="optional"/>
                  <xs:attribute type="xs:date" name="LockedOn" use="optional"/>
                  <xs:attribute type="xs:integer" name="OrderHeaderKey" use="optional"/>
                  <xs:attribute type="xs:string" name="OrderLineKey" use="optional"/>
                  <xs:attribute type="xs:string" name="OwnerKey" use="optional"/>
                  <xs:attribute type="xs:string" name="OwnerType" use="optional"/>
                  <xs:attribute type="xs:string" name="ParentInboxKey" use="optional"/>
                  <xs:attribute type="xs:float" name="Priority" use="optional"/>
                  <xs:attribute type="xs:string" name="QueueId" use="optional"/>
                  <xs:attribute type="xs:integer" name="QueueKey" use="optional"/>
                  <xs:attribute type="xs:string" name="ResolutionDate" use="optional"/>
                  <xs:attribute type="xs:dateTime" name="ResolveBy" use="optional"/>
                  <xs:attribute type="xs:string" name="ShipmentNo" use="optional"/>
                  <xs:attribute type="xs:string" name="ShipnodeKey" use="optional"/>
                  <xs:attribute type="xs:string" name="Status" use="optional"/>
                  <xs:attribute type="xs:string" name="SubFlowName" use="optional"/>
                  <xs:attribute type="xs:string" name="SupplierKey" use="optional"/>
                  <xs:attribute type="xs:string" name="ViewId" use="optional"/>
                  <xs:attribute type="xs:string" name="WorkOrderNo" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>