BopisTest/xsd/RequestXsd/BOPIS_CreateOrder.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Instructions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Instruction">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="InstructionType"/>
                      <xs:attribute type="xs:string" name="InstructionText"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Extn">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="HDWillCallList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HDWillCall">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="HDWCLineStatusList">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="HDWCLineStatus" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="UserAuditID" use="optional"/>
                                        <xs:attribute type="xs:dateTime" name="StatusEffectiveTs" use="optional"/>
                                        <xs:attribute type="xs:short" name="StoreNumber" use="optional"/>
                                        <xs:attribute type="xs:string" name="SVSTypeCode" use="optional"/>
                                        <xs:attribute type="xs:short" name="StatusCode" use="optional"/>
                                        <xs:attribute type="xs:string" name="StatusDescription" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="CreateSrcProcess"/>
                        <xs:attribute type="xs:byte" name="ModifySrcProcess"/>
                        <xs:attribute type="xs:byte" name="CreateSrcReference"/>
                        <xs:attribute type="xs:byte" name="ModifySrcReference"/>
                        <xs:attribute type="xs:int" name="SKUCode"/>
                        <xs:attribute type="xs:short" name="StatusCd"/>
                        <xs:attribute type="xs:string" name="StatusDescription"/>
                        <xs:attribute type="xs:dateTime" name="CreateTimeStamp"/>
                        <xs:attribute type="xs:dateTime" name="StatusEffectiveTs"/>
                        <xs:attribute type="xs:short" name="OrderCreateLocation"/>
                        <xs:attribute type="xs:short" name="WillCallLineNum"/>
                        <xs:attribute type="xs:dateTime" name="ScheduledPickUpTs"/>
                        <xs:attribute type="xs:string" name="WillCallType"/>
                        <xs:attribute type="xs:string" name="Tax"/>
                        <xs:attribute type="xs:short" name="SellingLocation"/>
                        <xs:attribute type="xs:short" name="ShipNode"/>
                        <xs:attribute type="xs:string" name="ContactName"/>
                        <xs:attribute type="xs:string" name="AltContactName"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="HDStorePaymentInfoList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HDStorePaymentInfo">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="ExtnStore"/>
                            <xs:attribute type="xs:string" name="ExtnPaymentType"/>
                            <xs:attribute type="xs:long" name="ExtnPaymentIdentifier"/>
                            <xs:attribute type="xs:float" name="ExtnMaxStorePaymentLimit"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="ExtnUCMID"/>
            <xs:attribute type="xs:string" name="ExtnIsMultiStoreOrder"/>
            <xs:attribute type="xs:string" name="ExtnHostOrderSystemIdentifier"/>
            <xs:attribute type="xs:string" name="ExtnHostOrderReference"/>
            <xs:attribute type="xs:string" name="ExtnDerivedTransactionType"/>
            <xs:attribute type="xs:byte" name="ExtnHostSrcProcess"/>
            <xs:attribute type="xs:string" name="ExtnLegacyHostSrcProcess"/>
            <xs:attribute type="xs:string" name="ExtnClientExternalSrcProcess"/>
            <xs:attribute type="xs:string" name="ExtnClientExternalOrderReference"/>
            <xs:attribute type="xs:string" name="ExtnCreateUserID"/>
            <xs:attribute type="xs:string" name="ExtnHostUserID"/>
            <xs:attribute type="xs:string" name="ExtnModifiedUserID"/>
            <xs:attribute type="xs:string" name="ExtnCustGoldenRecID"/>
            <xs:attribute type="xs:string" name="ExtnUCMType"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Awards"/>
        <xs:element name="OrderLines">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderLine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Extn">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="HDEventList">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="HDEvent">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:short" name="Store"/>
                                        <xs:attribute type="xs:dateTime" name="EventTs"/>
                                        <xs:attribute type="xs:string" name="EventTrkCode"/>
                                        <xs:attribute type="xs:byte" name="MerQty"/>
                                        <xs:attribute type="xs:string" name="EventUserAuditID"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="ExtnTransactionType"/>
                        <xs:attribute type="xs:dateTime" name="ExtnSystemReferenceTS"/>
                        <xs:attribute type="xs:string" name="ExtnSystemReference"/>
                        <xs:attribute type="xs:short" name="ExtnSystemLocationReference"/>
                        <xs:attribute type="xs:short" name="ExtnSellingLocation"/>
                        <xs:attribute type="xs:int" name="ExtnSKUCode"/>
                        <xs:attribute type="xs:string" name="ExtnReleaseType"/>
                        <xs:attribute type="xs:string" name="ExtnProductTypeCode"/>
                        <xs:attribute type="xs:string" name="ExtnPreferredPickupLocation"/>
                        <xs:attribute type="xs:string" name="ExtnOrderCreateLocationType"/>
                        <xs:attribute type="xs:short" name="ExtnOrderCreateLocation"/>
                        <xs:attribute type="xs:int" name="ExtnOMSID"/>
                        <xs:attribute type="xs:string" name="ExtnInventoryTrackCode"/>
                        <xs:attribute type="xs:string" name="ExtnHostUserID"/>
                        <xs:attribute type="xs:short" name="ExtnHostOrderLineReference"/>
                        <xs:attribute type="xs:short" name="ExtnWillCallLineNum"/>
                        <xs:attribute type="xs:byte" name="ExtnCreateSrcProcess"/>
                        <xs:attribute type="xs:byte" name="ExtnModifySrcProcess"/>
                        <xs:attribute type="xs:byte" name="ExtnCreateSrcReference"/>
                        <xs:attribute type="xs:byte" name="ExtnModifySrcReference"/>
                        <xs:attribute type="xs:byte" name="ExtnHDUOMCode"/>
                        <xs:attribute type="xs:string" name="ExtnHDUOMCodeDesc"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Item">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="UnitCost"/>
                            <xs:attribute type="xs:string" name="ProductClass"/>
                            <xs:attribute type="xs:string" name="ItemShortDesc"/>
                            <xs:attribute type="xs:string" name="ItemDesc"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LinePriceInfo">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="UnitPrice"/>
                            <xs:attribute type="xs:string" name="TaxableFlag"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="LineCharges"/>
                    <xs:element name="LineTaxes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LineTax">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="TaxName"/>
                                  <xs:attribute type="xs:float" name="Tax"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OrderDates">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OrderDate">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:dateTime" name="ExpectedDate"/>
                                  <xs:attribute type="xs:string" name="DateTypeId"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PersonInfoShipTo">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="ZipCode"/>
                            <xs:attribute type="xs:string" name="State"/>
                            <xs:attribute type="xs:long" name="MobilePhone"/>
                            <xs:attribute type="xs:string" name="LastName"/>
                            <xs:attribute type="xs:string" name="FirstName"/>
                            <xs:attribute type="xs:long" name="DayPhone"/>
                            <xs:attribute type="xs:string" name="Country"/>
                            <xs:attribute type="xs:string" name="City"/>
                            <xs:attribute type="xs:string" name="AddressLine1"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="ShipNode"/>
                  <xs:attribute type="xs:byte" name="OrderedQty"/>
                  <xs:attribute type="xs:string" name="LineType"/>
                  <xs:attribute type="xs:string" name="IsFirmPredefinedNode"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PersonInfoBillTo">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="ZipCode"/>
                <xs:attribute type="xs:string" name="State"/>
                <xs:attribute type="xs:string" name="LastName"/>
                <xs:attribute type="xs:string" name="FirstName"/>
                <xs:attribute type="xs:string" name="EMailID"/>
                <xs:attribute type="xs:long" name="DayPhone"/>
                <xs:attribute type="xs:string" name="Country"/>
                <xs:attribute type="xs:string" name="City"/>
                <xs:attribute type="xs:string" name="AddressLine3"/>
                <xs:attribute type="xs:string" name="AddressLine2"/>
                <xs:attribute type="xs:string" name="AddressLine1"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentMethods">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PaymentMethod">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:long" name="SvcNo"/>
                      <xs:attribute type="xs:string" name="PaymentType"/>
                      <xs:attribute type="xs:string" name="PaymentReference3"/>
                      <xs:attribute type="xs:float" name="MaxChargeLimit"/>
                      <xs:attribute type="xs:string" name="LastName"/>
                      <xs:attribute type="xs:string" name="FirstName"/>
                      <xs:attribute type="xs:short" name="DisplaySvcNo"/>
                      <xs:attribute type="xs:short" name="DisplayCreditCardNo"/>
                      <xs:attribute type="xs:string" name="CreditCardType"/>
                      <xs:attribute type="xs:long" name="CreditCardNo"/>
                      <xs:attribute type="xs:string" name="CreditCardName"/>
                      <xs:attribute type="xs:string" name="CreditCardExpDate"/>
                      <xs:attribute type="xs:string" name="CustomerPONo"/>
                      <xs:attribute type="xs:string" name="ChargeType"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="SellerOrganizationCode"/>
      <xs:attribute type="xs:dateTime" name="OrderDate"/>
      <xs:attribute type="xs:string" name="EnterpriseCode"/>
      <xs:attribute type="xs:byte" name="DocumentType"/>
    </xs:complexType>
  </xs:element>
</xs:schema>