BopisTest/xsd/RequestXsd/Pick_Confirmation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Shipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Extn">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:long" name="ExtnMessageGeneratedTime"/>
                <xs:attribute type="xs:string" name="ExtnHostOrderReference"/>
                <xs:attribute type="xs:string" name="ExtnDerivedTransactionType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Shipment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ShipmentLines">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ShipmentLine">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Extn">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="ExtnFIQuantity"/>
                                  <xs:attribute type="xs:short" name="ExtnPickLocation"/>
                                  <xs:attribute type="xs:byte" name="ExtnPickedQuantity"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Order">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Extn">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="ExtnHostOrderReference"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="ShipmentLineNo"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="TotalNumberOfRecords"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="DocumentType"/>
            <xs:attribute type="xs:string" name="EnterpriseCode"/>
            <xs:attribute type="xs:string" name="OrderNo"/>
            <xs:attribute type="xs:dateTime" name="RequestedShipmentDate"/>
            <xs:attribute type="xs:short" name="ShipNode"/>
            <xs:attribute type="xs:string" name="ShipmentNo"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="ShipNode"/>
    </xs:complexType>
  </xs:element>
</xs:schema>