BopisTest/xsd/RequestXsd/Recall_Order.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Extn">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="ExtnHostOrderReference"/>
                <xs:attribute type="xs:string" name="ExtnIncludeReleaseDetails"/>
                <xs:attribute type="xs:string" name="ExtnIncludeInstructions"/>
                <xs:attribute type="xs:string" name="ExtnIncludeAuditDetails"/>
                <xs:attribute type="xs:string" name="ExtnIncludeAlertDetails"/>
                <xs:attribute type="xs:string" name="ExtnPutOrderOnLock"/>
                <xs:attribute type="xs:string" name="ExtnUserId"/>
                <xs:attribute type="xs:string" name="ExtnIncludeEventDetails"/>
                <xs:attribute type="xs:string" name="ExtnIncludeStatusDetails"/>
                <xs:attribute type="xs:string" name="ExtnIncludeWorkOrderDetails"/>
                <xs:attribute type="xs:string" name="ExtnIncludePurchaseOrderDetails"/>
                <xs:attribute type="xs:string" name="ExtnIncludeReturnOrderDetails"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="EnterpriseCode"/>
      <xs:attribute type="xs:string" name="DocumentType"/>
      <xs:attribute type="xs:byte" name="MaximumRecords"/>
    </xs:complexType>
  </xs:element>
</xs:schema>